<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @miscropost.content %>
</p>

<p>
  <b>User:</b>
  <%= @miscropost.user_id %>
</p>


<%= link_to 'Edit', edit_miscropost_path(@miscropost) %> |
<%= link_to 'Back', miscroposts_path %>
